# .gitignore for Grails 1.2 and 1.3



# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script





# plugin release files
/*.zip
/plugin.xml




.classpath
.idea/
.project
.settings/
.DS_Store
